/* INICIO DO CORPO DO TEXTO */
.central {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.background {
    background-image: url('../../assets/home/image-homepage-hero.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;

    width: 78vw;
    height: 100vh;
    margin-top: 54px;

    display: flex;
    justify-self: center;
    align-items: flex-end;
}


.part-1 {
    background-color: #fff;
    width: 31vw;
    height: max-content;

    display: flex;
    flex-direction: column;
}

.text-present {
    font-size: 45px;

    margin: 56px 28px 53px 27px;
}

.button {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    background-color: #203A4C;

    width: 200px;
    height: 48px;

    display: flex;
    align-items: center;
}

.button:hover{
    background-color: #5FB4A2;
    transition: 1s;
}

.about-me {
    color: #fff;
    font-family: public sans;
    font-size: 12px;

    display: flex;
    align-items: center;
    padding-left: 20px;
    }

.box-arrows {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 48px;
    width: 48px;

    margin-left: -70;
}

.down-arrows {
    height: 12px;
    width: 16px;
}

/* FORMATAÇÃO DO CORPO */
.body {
    margin-top: 149px;
    width: 76vw;

    display: flex;
    justify-content: space-between;
}


.sideface {
    width: 37vw;
    height: 100vh;
}

.aside {
    border-top: 1px solid rgba(51, 50, 61, .3);
    border-bottom: 1px solid rgba(51, 50, 61, .3);

    width: 40%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.me {
    font-size: 40px;
    font-weight: 700;
}

.text-me {
    font-family: public sans;
    font-size: 16px;
    line-height: 30px;
}

.button-pt {
    all: unset;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #33323D;
    box-shadow: rgba(51, 50, 61, .2) 1px 1px 1px 1px;


    text-transform: uppercase;
    font-family: public sans;
    font-size: 12px;

    width: 15vw;
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.button-pt:hover{
    background-color: #33323D;
    color: #fff;
    transition: 1s;
}

.contact {
    margin-top: 150px;
    width: 76vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.size-box {
    width: 367px;
}

